@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100%;
  background-image: url('/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  /* overflow-y: hidden; */
}

nav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 5rem 0rem 10rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #F4F5FF;
  box-shadow: 1px 2px 10px white;
  backdrop-filter: blur(25px);
  content: "";
  z-index: 2;

}

nav .ham i {
  color: #F4F5FF;
  font-size: 2rem;
  cursor: pointer;
  display: none;

}

.logo {
  color: #fff;
  font-size: 3.3rem;
  font-weight: bold;
  letter-spacing: 5px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0rem 1.5rem;
}

nav ul li a {
  color: #F4F5FF;
  text-decoration: none;
  font-size: 1.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
}

.register {
  background-color: #F4F5FF;
  color: #020304;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 1px 2px 10px white; */
}

.register:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: all 0.1s ease;
  box-shadow: 1px 2px 10px white;
}

nav ul li a:hover {
  color: black;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.1s ease;
  box-shadow: 1px 2px 10px white;


}

#click {
  display: none;
}



.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

.d-grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

button,
select {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

button,
.btn,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* Section top bottom gap */
.section-gap {
  padding: 4.5rem 0;
}

@media screen and (max-width:767px) {
  .section-gap {
    padding: 3.5rem 0;
  }
}

@media screen and (max-width:480px) {
  .section-gap {
    padding: 3rem 0;
  }
}

/* / Section top bottom gap */

/* title-styling */
h3.global-title {
  font-size: 40px;
  line-height: 45px;
  /* color: #16191e; */
  margin-bottom: 50px;
  text-transform: capitalize;
}

@media screen and (max-width:767px) {
  h3.global-title {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width:600px) {
  h3.global-title {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width:500px) {
  h3.global-title {
    font-size: 30px;
    line-height: 35px;
  }
}

.field {
  margin-bottom: 20px;
}

.form-mid {
  /* background: rgb(245, 245, 245); */
  padding: 3rem;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 1px 2px 10px white;
}

.form-mid form input,
.form-mid form textarea {
  background: transparent;
  color: white;
  font-size: 16px;
  padding: 12px 15px;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  height: 55px;
  box-shadow: 1px 2px 10px white;
  font-family: 'Ubuntu', sans-serif;
}

.form-mid form textarea {
  resize: none;
  min-height: 140px;
}

.form-mid form input:focus,
.form-mid form textarea:focus {
  outline: none;
  box-shadow: none;
}

button.btn-contact {
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  margin: 20px auto 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  box-shadow: 1px 2px 10px white;
  font-family: 'Ubuntu', sans-serif;

}
button.btn-contact:hover{
  background-color: black;
  color:white ;
   border-radius: 10px;
transition:all 0.1s ease;
  box-shadow: 1px 2px 10px white;
}
footer {

  font-family: Ubuntu, sans-serif;
  bottom: 0px;
  width: 100%;
  font-size: 18px;
  height: 30vh;

}

.socialmedia,
.contact {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0rem;
  color: white;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 33%;
  padding: 10px;
  height: 15rem;
  text-align: center;
  color: white;
}

.copyright {
  text-align: center;
  color: white;
  background-color: #020304;
}

p {
  color: white;
}

@media(max-width: 568px) {
  .form-mid {
    padding: 1.5rem;
  }
}
@media (max-width: 985px) {

  nav .ham i {
    display: block;
  }



  #click:checked~.ham i:before {
    content: "\f00d";
  }

  .logo {
    flex: 1;
    font-size: 2.5rem;
  }

  nav ul {
    position: fixed;
    top: 8rem;
    left: -100%;
    height: auto;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.s ease;
    /* background: transparent; */
    background: #001c4b;
  }

  #click:checked~ul {
    left: 0%;
  }

  nav ul li {
    margin: 2rem 0;
  }

  nav ul li a {
    font-size: 2rem;
    display: block;
  }

  nav .ham i {
    display: block;
  }
}