@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }
    
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
  }
  
  body {
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    /* font-family: 'Ubuntu', sans-serif; */
    /* overflow-y: hidden; */
  }
  
  nav {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5rem 0rem 10rem;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #F4F5FF;
    box-shadow: 1px 2px 10px white;
    backdrop-filter: blur(25px);
    content: "";
    z-index: 1;
  
  }
  
  nav .ham i {
    color: #F4F5FF;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  
  }
  
  .logo {
    color: #fff;
    font-size: 3.3rem;
    font-weight: bold;
    letter-spacing: 5px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0rem 1.5rem;
  }
  
  nav ul li a {
    color: #F4F5FF;
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px;
  }
  
  .register {
    background-color: #F4F5FF;
    color: #020304;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 1px 2px 10px white; */
  }
  
  .register:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: all 0.1s ease;
    box-shadow: 1px 2px 10px white;
  }
  
  nav ul li a:hover {
    color: black;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.1s ease;
    box-shadow: 1px 2px 10px white;
  
  
  }
  
  #click {
    display: none;
  }
  
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:rgba(27, 31, 34, 0.85); */
    /* background-image: url(/bg.jpg); */
    background-size: 100% 100%;
}

.maindiv{
    width: 50%;
    height: 500px;
    position: absolute;
    left: 50%;
    top:40%;
    margin-top: 2rem;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-image: url(/events/pics/pahilopaila.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px white;
    animation: slider 9s infinite ease;
    transition: all 0.3 ease;
}
.container{
    width: 55%;
    height: 32vh;
    position: absolute;
    left: 50%;
    top: 132%;
    flex-direction: column;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px white;
    transition: all 0.3 ease;
}
.container h1{
    color: white;
    border-bottom: 2px solid white;
    font-size: 1.5rem;
text-align: center;
}
.container p{
    color: white;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 10px;
}

/* #hpahilo{
    display: none;
    animation: pahilo 9s infinite ease;
}
#ppahilo{
    display: none;
    animation: pahilo 9s infinite ease;
}
#haces3{
    display: none;
    animation: aces4 9s infinite ease;
    
}
#paces3{
    display: none;
    animation: aces4 9s infinite ease;
}
#haces4{
    display: none;
    animation: aces3 9s infinite ease;
}
#paces4{
    display: none;
    animation: aces3 9s infinite ease;
} */

  

@keyframes slider{
    0%{
              
     }
    35%{
        background-image: url(pics/aces4.0.jpg);

    }
    75%{
        background-image: url(pics/aces3.0.jpg)

    }
    
}
/* @keyframes pahilo{
    0%{
        display: block;
    }
    35%{
        /* display: ; */
    /* } */
    /* 75%{
        /* display: block; */
    /* } 
/* } 
*/
@media (max-width:985px){
    .container h1{
        font-size: 1.2rem;
    }
    .container p{
        font-size: 0.8rem;
    }
    .container{
        height: 38vh;
        margin-top: 20px;
    }
}

footer {

    font-family: Ubuntu, sans-serif;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    height: 30vh;
  
  }
  
  .socialmedia,
  .contact {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0rem;
    color: white;
    justify-content: space-between;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 33%;
    padding: 10px;
    height: 15rem;
    text-align: center;
    color: white;
  }
  
  .copyright {
    text-align: center;
    color: white;
    background-color: #020304;
  }
  
  p {
    color: white;
  }
  
  .link:hover {
    opacity: 1;
  }
  @media (max-width: 985px){

    nav .ham i {
        display: block;
      }
    
    
    
      #click:checked ~ .ham i:before {
        content: "\f00d";
      }
      
      .logo {
        flex: 1;
        font-size: 2.5rem;
      }
  
      nav ul {
        position: fixed;
        top: 8rem;
        left: -100%;
        height:auto;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.s ease;
        /* background: transparent; */
        background: #001c4b;
        content: "";
      }
    
      #click:checked ~ ul {
        left: 0%;
      }
    
      nav ul li {
        margin: 2rem 0;
      }
    
      nav ul li a {
        font-size: 2rem;
        display: block;
      }
    
      nav .ham i {
        display: block;
      }
    

  }